/* Custom styles */
/*
DePaul IHS
*/
   
body { 
  color: rgb(0, 0, 0); /* Optionnel : définit la couleur du texte en blanc pour plus de contraste */
  margin: 0; /* Enlève les marges par défaut */
  padding: 0; /* Enlève le padding par défaut */
  font-family: Arial, sans-serif; /* Choix de police */
}

/* Style pour l'en-tête */
header {
  display: flex; /* Utilise flexbox pour centrer l'élément */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 150px; /* Hauteur de l'en-tête (ajustable selon vos besoins) */
  padding: 20px; /* Ajoute de l'espace autour du contenu */
}

h1 {
  justify-content: center;
  align-items: center;
  display: flex; 
  font: 32px/1em 'GibsonBold', Arial;
  text-transform: uppercase;
  color: rgb(8, 22, 221);
}

h2 {
  font: 22px/1em 'GibsonBold', serif;
  text-transform: uppercase;
  color: #827E7E;
}

#logo {
  margin-top: 30px;
}

#logo img { width: 170px; }

img {
  max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
  height: auto; /* Maintient les proportions de l'image */
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgb(123, 42, 42);
  background: rgba(93, 9, 9, 0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* la première colonne de mon tableau contient des urls d'images, je veux affichés ces images sur mon tableau */