:root {
  --primary-color: #002487; /* Couleur principale */
  --secondary-color: #6366f1; /* Couleur secondaire */
  --text-color: #000000; /* Couleur du texte */
  --hover-color: #8e9bc1; /* Couleur au survol */
}

body {
  background-color: #ffffff;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  font: 30px/1em 'GibsonBold', Arial;
  text-transform: uppercase;
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: #000000;
}

#exchange-rates {
  border-radius: 8px;
  white-space: pre-line; /* Respecte les sauts de ligne dans le contenu de la cellule */
  word-wrap: break-word; /* Permet de couper les mots longs pour éviter de briser le layout */
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
  font-size: 25px;
  margin-top: 10px;
}

/* Conteneur principal */
.exchange-container {
  position: relative; /* Permet la superposition */
  width: 100%;
  max-width: 800px; /* Largeur maximale pour éviter qu'il prenne tout l'écran */
  margin: 0 auto; /* Centrage horizontal */
  overflow: hidden; /* Assure que le contenu ne dépasse pas */
  border: 1px solid #ccc; /* Optionnel : ajoute une bordure au conteneur */
  border-radius: 10px; /* Optionnel : coins arrondis */
}

/* Image de fond */
.exchange-image {
  width: 100%; /* L'image s'ajuste à la largeur du conteneur */
  height: auto; /* Respecte les proportions */
}

/* Texte superposé */
.exchange-text {
  position: absolute; /* Superposition sur l'image */
  top: 50%; /* Aligne verticalement au centre */
  left: 50%; /* Aligne horizontalement au centre */
  transform: translate(-50%, -50%); /* Centre le texte */
  z-index: 2; /* Met le texte au-dessus de l'image */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour lisibilité */
  padding: 10px 20px;
  border-radius: 10px; /* Arrondir les angles du texte */
  text-align: center; /* Centrer le texte */
  white-space: pre-line; /* Permet les sauts de ligne */
  width: 100%;
}






/* Responsivité */
@media (max-width: 485px) {
  
}
