:root {
  --primary-color: #002487; /* Couleur principale */
  --secondary-color: #6366f1; /* Couleur secondaire */
  --text-color: #000000; /* Couleur du texte */
  --hover-color: #444; /* Couleur au survol */
}

body {
  background-color: #ffffff;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
}

header {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 5px;
}

h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  font: 32px/1em 'GibsonBold', Arial;
  text-transform: uppercase;
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: #000000;
}

td {
  white-space: pre-line; /* Respecte les sauts de ligne dans le contenu de la cellule */
  word-wrap: break-word; /* Permet de couper les mots longs pour éviter de briser le layout */
  position: relative;
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: center; /* Centre le texte verticalement */
  padding: 0px;
}

a:hover {
  text-decoration: #000000;
}

table.dataTable {
  background-color: #ffffff;
  border-color: var(--secondary-color);
}

table.dataTable thead th {
  background-color: #ffffff;
  color: var(--text-color);
  font-size: 20px;
  white-space: pre-line; /* Respecte les sauts de ligne dans le contenu de la cellule */
  word-wrap: break-word; /* Permet de couper les mots longs pour éviter de briser le layout */
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */

}

table.dataTable tbody td {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
}

table.dataTable tbody tr:hover {
  background-color: var(--hover-color);
  transform: scale(1);
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: 20px;
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
  padding: 0px;
}

/* Pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border: 1px solid #ffffff;
  border-radius: 0.375rem;
  color: var(--text-color);
  font-size: 0.875rem;
  transition: all 0.2s;
}

        /* Conteneur pour le texte défilant */
        .marquee {
          display: block;
          white-space: nowrap;
          overflow: hidden; /* Cache le texte qui dépasse */
          position: absolute;
          width: 100%;
          bottom: 0;
      }

      /* Animation pour faire défiler le texte */
      .marquee p {
          display: inline-block;
          padding-left: 100%; /* Commence le texte à droite */
          animation: marquee 20s linear infinite; /* Animation infinie */
      }

      /* Animation clé pour faire défiler le texte de droite à gauche */
      @keyframes marquee {
          0% {
              transform: translateX(0);
          }
          100% {
              transform: translateX(-100%);
          }
      }

    

/* Responsivité */
@media (max-width: 485px) {
  table.dataTable,
  table.dataTable thead,
  table.dataTable tbody,
  table.dataTable th,
  table.dataTable td,
  table.dataTable tr {
    display: block;
  }

  table.dataTable thead {
    display: none;
  }

  table.dataTable tr {
    border: 1px solid #444;
    line-height: 1; /* Ajuster la hauteur des lignes */
    font-size: 20px;
    text-align: center; /* Centre le texte horizontalement */
    vertical-align: middle; /* Centre le texte verticalement */
  }
  

  table.dataTable td {
    justify-content: space-between;
    border-bottom: 0.5px solid var(--primary-color);
  }
}
