:root {
  --primary-color: #002487; /* Couleur principale */
  --secondary-color: #6366f1; /* Couleur secondaire */
  --text-color: #000000; /* Couleur du texte */
  --hover-color: #8e9bc1; /* Couleur au survol */
}

body {
  background-color: #ffffff;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  font: 30px/1em 'GibsonBold', Arial;
  text-transform: uppercase;
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: #000000;
}

#exchange-rates {
  border-radius: 8px;
  white-space: pre-line; /* Respecte les sauts de ligne dans le contenu de la cellule */
  word-wrap: break-word; /* Permet de couper les mots longs pour éviter de briser le layout */
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement */
  font-size: 25px;
}

.exchange-container {
  position: relative;
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.exchange-image {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 28%;
  top: 120%;

}

.exchange-text {
  position: absolute; /* Positionner le texte au centre de l'image */
  top: -90%;
  left: 50%;
  transform: translate(-50%, 40%); /* Centrer horizontalement et verticalement */
  z-index: 2;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.25); /* Fond semi-transparent pour améliorer la lisibilité */
  padding: 0px 0px;
  border-radius: 10px;
  white-space: pre-line; /* Gérer les sauts de ligne dans le texte */
}





/* Responsivité */
@media (max-width: 485px) {
  
}
